<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>タスク一覧</title>
</head>
<body>

    <div>
        <span>〇〇様</span>
        <a th:href="@{/logout}">ログアウト</a>
    </div>

    <h1>タスク</h1>

    <form th:action="@{/tasks}" method="get">
        <label>
            <input type="radio" name="categoryId" value="" checked> 全て
        </label>
        <label>
            <input type="radio" name="categoryId" value="1"> 日常
        </label>
        <label>
            <input type="radio" name="categoryId" value="2"> 仕事
        </label>
        
        <button type="submit">ソート</button>
    </form>
    <br>

    <div>
        <span>id</span> | 
        <span>タイトル</span> | 
        <span>進捗状況</span> | 
        <span>開始日</span> | 
        <span>期限</span> | 
        <span>メモ</span> | 
        <span>操作</span>
    </div>
    <hr>

    <div>
        <h3>〇月〇日 予想合計タスク時間：分</h3>
        <form>
            <div>
                <input type="checkbox" name="task_ids" value="1" checked>
                <input type="text" value="やること" readonly>
            </div>
            <div>
                <input type="checkbox" name="task_ids" value="2">
                <input type="text" value="やること" readonly>
            </div>
            <div>
                <input type="checkbox" name="task_ids" value="3">
                <input type="text" value="やること" readonly>
            </div>
            <div>
                <input type="checkbox" name="task_ids" value="4">
                <input type="text" value="やること" readonly>
            </div>
        </form>
    </div>

    <br>
    <div>
        <a th:href="@{/tasks/{id}/edit(id=1)}"><button type="button">履歴/更新</button></a>
        
        <a th:href="@{/tasks/{id}/delete(id=1)}"><button type="button">削除</button></a>
        
        <a th:href="@{/tasks/create}"><button type="button">＋</button></a>
    </div>

</body>
</html>
